.item-details {
  margin-left: 20px;
  font-size: 18px;
}

.item-box {
  display: flex;
  div {
    width: auto;
  }
}

@media (max-width: 1000px) {
  .item-box {
    display: block;
    justify-content: center;
  }

  .item-details {
    margin-top: 20px;
    margin-left: 0px;
    font-size: 18px;
    word-wrap: break-word;
  }
}
