.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .nav-link {
    display: inline;
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
}
